#app{
    width: 600px;
    margin: 10px auto;
}
.tb{
    border-collapse: collapse;
    width: 100%;
}
.tb th{
    background-color: #0094ff;
    color: white;
}
.tb td,
.tb th
{
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}
.add{
    padding: 5px;
    border: 1px solid black;
    margin-bottom: 10px;
}